
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/trapsInitScript.iml
.idea/vcs.xml
latest.jpeg
latest.jpg
trap.data
trap.log
wittyPi.log
.idea/codeStyles/codeStyleConfig.xml
.idea/trap-scripts.iml
.DS_Store
